[submodule "/home/wmj/.config/awesome/net_widgets"]
	path = /home/wmj/.config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule "/home/wmj/.config/awesome/awesome-wm-widgets"]
	path = /home/wmj/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
